form {
    border: 0px solid #545454;
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input {
    padding: 5px 20px;
    line-height: 16px;
    margin: 10px 0;
}
